.project-img {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    position: relative;
}

.project-img > img {
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.hover-layer {
    text-align: center;
    cursor: pointer;
    font-family: monospace, san-serif;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    color: white;
}

.cssbuttons-io-button {
    background: #ffffff;
    color: #000000;
    font-family: monospace, san-serif;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #c6c6c6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin-top: 30%;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #c6c6c6;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #000000;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.button-project {
    display: flex;
    align-items: baseline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .hover-layer h1 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .hover-layer p {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 10px;
    }


    .cssbuttons-io-button .icon {
        height: 1em;
        width: 1.2em;
    }

    .tech-image {
        width: 20px;
    }

    .cssbuttons-io-button {
        font-size: 12px;
        margin-top: 3px;
        height: 1.5rem;
        padding-right: 2rem;
    }
}