.project-img {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    box-sizing: border-box;

}

.project-img > img {
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}