body {
    background-color: #222222;
}

.App {
    text-align: center;
}

.Navbar-logo {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    height: 100px;
}

a > .Navbar-logo {
  position: absolute;
  top: 0; 
  left: 0;
}

header ul {
  display: flex;
}

header ul li {
    display: flex;
    padding-right: 2em;
    list-style: none;
    font-family: monospace, serif;
    color: white;
}

header ul li:hover {
    cursor: pointer;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    align-self: center;
}

.App-logo:hover {
    cursor: pointer;
}

.hello-img {
    width: 40px;
    filter: invert(1);
}

.laptop-gif {
    width: 300px;
    filter: invert(0.866667);
}

.header-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 130px;
}


.header-active {
    color: #fff;
    background-color: #222;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.top-section {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.App-header {
    background-color: #222;
    font-family: monospace, sans-serif;
    height: 200px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
